.conteiner{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box{
  height: 600px;
  width: 500px;
  padding: 5% 22%;
  padding-left: 10px;
  border: 1.5px solid #555;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.texto{
  font-family: courier, "courier new", monospace;
  font-size: 50px;
  font-style: italic;
  font-variant: small-caps;
  letter-spacing: 5.2pt;
  text-align: center;
}

.enviar {
  background-color: rgb(104, 145, 162);
  padding: 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  height: 40px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.enviar:hover {
  background-color: rgb(230, 16, 16);
  padding: 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  height: 40px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}


.email {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}